@model ApplicationCore.Model.CastDetailsModel


<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="@Model.ProfilePath" class="img-fluid" alt="@Model.Name" />
        </div>
        <div class="col-1">

        </div>
        <div class="col-4">
            <h1>@Model.Name</h1>
        </div>
        <div class="col-3">

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-4">
            <h3>Movies Played</h3>
            @foreach (var movie in @Model.movies)
            {
                <img src="@movie.PosterUrl" class="img-fluid" alt="@movie.Title" />
            }
        </div>
        <div class="col-1">
            
        </div>
        <div class="col-4">
            
        </div>
        <div class="col-3">

        </div>
    </div>
</div>
